
  body {background-color: #D9D9D9;}
  
.items{
    
    
    margin-left: 80px;
    margin-top: 20px;
    width: 90%;
    height: 350px;
    display: flex;
    overflow-x: scroll;
    border-radius: 10px 10px 10px 10px;
    box-shadow: inset 0px 0px 42px -6px rgba(0,0,0,0.2);
}

.cards{
margin-top: 20px;
margin-left: 15px;

display: flex;
min-width: 250px;

}