
  /* .Nav-Content{
    display:flex;
    align-items: center;
    justify-content: end;
     Color 
    background: var(--fnd);

    color: var(--color);
     Posicionamiento y fijado 
    position: sticky;
     z-index: 1; 
     Centrado y flote
    top: 0;

    height: 40px;
    width: 100%;
  }
  
  .Nav-Content .Nav {
    list-style: none;
    overflow: hidden;  Limpiamos errores de float 
  }
  
  .Nav-Content .Nav li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  .Nav-Content .Nav li a {
    display: block;  Convertimos los elementos a en elementos bloque para manipular el padding 
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }

  .Nav-Content .Nav ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #eee;
    padding: 0;
  }

.Nav-Content .Nav ul li{
  float: none;
  width: 150px;
}

.Nav-Content .Nav ul a{
  line-height: 120%;
  padding: 10px 15px;
}

.Nav-Content .Nav li:hover > ul {
  display: block;
}  */


/* menu */

#menu ul {
  display: flex;
  justify-content: end;
  margin-right: 15px;
  background-color: var(--fnd);
  width: 100%;
  height: 45px;
  position: sticky;
  list-style:none;
  margin:0;
  padding:0;
  z-index: 2;
}

/* Profile */

#menu #profile{
  /* border-bottom: solid 1px var(--fnd); */
  width: 100px;
  padding: 0;
  text-align: center;
}

#menu #profile #photo{
  box-sizing: border-box;
  padding: 5px;
  margin: 0 auto;
}

#menu #profile #photo img{
  border-radius: 50%;
  width: 35%;
}

#menu #profile a:hover{
  color: rgb(201, 201, 201)
}

 /* items del menu */

#menu ul li {
  background-color:var(--fnd);
}

 /* enlaces del menu */

#menu ul a {
  display:block;
  color:#fff;
  text-decoration:none;
  font-weight:400;
  font-size:15px;
  padding:10px;
  font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform:uppercase;
  letter-spacing:1px;
}

 /* items del menu */

#menu ul li {
  position:relative;
  float:left;
  margin:0;
  padding:0;
}

 /* efecto al pasar el ratón por los items del menu */

#menu ul li:hover {
  background:var(--fndS);
}

 /* menu desplegable */

#menu ul ul {
  display: none;
  position: absolute;
  top:100%;
  left:0;
  background:#eee;
  padding:0;
}

 /* items del menu desplegable */

#menu ul ul li {
  float:none;
  width:150px
}

 /* enlaces de los items del menu desplegable */

#menu ul ul a {
  line-height:120%;
  padding:10px 15px;
}

 /* items del menu desplegable al pasar el ratón */

#menu ul li:hover > ul {
  display:block;
}
  