.div-principal-profile{
  height: 100vh;
  width: 100%;
}



.div-principal-profile .profile-image{
  display: flex;
  justify-content: center;
}

.div-principal-profile .profile-image img{
  width: 20%;
  height: 20%;
  margin-bottom: 25px;
  border-radius: 50%;
}

.div-principal-profile .profile-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.div-principal-profile .profile-info-data{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  text-align: center;
}

.div-principal-profile .div-profile-button-before, .div-principal-profile .profile-info button{
  width: 100px;
}

