:root{
  --c-extra: ;
  --color:white;
  --fnd : #34D399;
  --fndS : #33a77c;
  --fndRsp: white;
  --colorRsp: black;

  
  --width: 200px;
  --padding: 2px;
  --bgcolor: rgb(52, 52, 52);
  --separatorcolor: rgb(255, 255, 255);
  --hovercolor: #34D399;
  --width-collapsed: 50px;
}



body {
  box-sizing: border-box;
  margin: 0 auto;
  /* max-width: 100%; */
  
  /* margin-left: var(--width-collapsed); */
  
  /* margin: 25px 50px 50px 50px; */
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.div-principal-admin{
  display: flex;
  flex-direction: column;
  /* margin-top: 75px; */
  margin: 0 auto;
  min-height: 100vh;
  width: 85%;
  padding: 25px;
  margin-left: var(--width);
}

.div-principal{
  display: flex;
  flex-direction: column;
  /* margin-top: 75px; */
  margin: 0 auto;
  min-height: 100vh;
  width: 90%;
  /* margin: 25px 50px 50px 50px; */
}

.div-button-a{
  width: 10%;
}

.title{
  margin-top: 25px;
  margin-bottom: 20px;
}

.alert{
  width: 100%;
  height: 80%;
}

.alert .alert-title{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px;
  background-color: #df4d4d;
  color: white;
}

/* Botones en general */
.button-primary{
  width: 100%;
  padding: 0;
  background-color: var(--fnd);
  border: 2px solid var(--fnd);
  border-radius: 2.5px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: small;
  text-align: center;
  color: #ffffff;
  /* Para dar la apariencia de un boton */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;  
}
.button-primary:hover,.button-primary:active{
  color:#fff;
  background-color: #10B981;
  border-color:#10B981;
}
button:focus{
  box-shadow:0 0 0 1px #10B981;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  /* asi podremos cultar la barra de desplazamiento vertical */
  width:0;
}

::-webkit-scrollbar-button:increment,::-webkit-scrollbar-button {
  display: none;
} 

::-webkit-scrollbar:horizontal {
  height: 5px;
  
}

::-webkit-scrollbar-thumb {
  background-color: var(--fnd);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--fndS);
}

::-webkit-scrollbar-track {
  border-radius: 10px;  
}